<!DOCTYPE HTML>
<html>
<head>
    <title>LED Controller</title>
    <meta name="viewport" content="width=400px" />
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <div id="name">Unknown</div>

        <div class="button">
            <input type="button" onclick="getPins()">Get Pins</input>
        </div>
        <form action="http://127.0.0.1:8080/A4" method="post">
            <input type="range" id= "inputSlider" min="0" max="1023" value="512" step="1" oninput="showValue(this.value)" />

            <br/>
            <span id="outputText">50</span>
            <br/>

            <a id="send" href="#">Send</a>
        </form>


        <br/>
        <div class="list-group">
            <!-- loop over blog posts and render them -->
            <% posts.forEach((post) => { %>
                <p ><%= post %></p>
            <% }) %>
        </div>
    </div>

</body>
<script type='text/javascript' src="functions.js" ></script>
</html>