<!DOCTYPE HTML>
<html>
<head>
    <title>LED Controller</title>
    <meta name="viewport" content="width=400px" />
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <div id="name">Unknown</div>

        <div class="button">
            <button type="button" onclick="getPins()">Pins</button>
        </div>
        <div class="button">
            <input type="range" id= "inputSlider" min="0" max="1023" value="512" step="1" oninput="showValue(this.value)" />
        </div>


        <br/>
            <span id="outputText">50</span>
        <br/>
        <div id="pins"></div>

        <br/>
    </div>

</body>
<script type='text/javascript' src="functions.js" ></script>
</html>